h1 Infos
div.panel.panel-default.table-responsive
	table.table
		tbody
			tr
				th Hostname
				th {{info.hostname}}
			tr
				th Type
				th {{info.type}}
			tr
				th Platform
				th {{info.platform}}
			tr
				th Arch
				th {{info.arch}}
			tr
				th Release
				th {{info.release}}
			tr
				th Time
				th {{info.time | date:'dd/MM/yyyy H:mm:ss'}}
p
	a.btn.btn-lg.btn-primary(ng-click="refresh()") Refresh