h1 Infos
div.panel.panel-default.table-responsive
	table.table
		tbody
			tr
				th(i18n="label.info.hostname")
				th {{info.hostname}}
			tr
				th(i18n="label.info.type")
				th {{info.type}}
			tr
				th(i18n="label.info.platform")
				th {{info.platform}}
			tr
				th(i18n="label.info.arch")
				th {{info.arch}}
			tr
				th(i18n="label.info.release")
				th {{info.release}}
			tr
				th(i18n="label.info.time")
				th {{info.time | date:'dd/MM/yyyy H:mm:ss'}}
p
	a.btn.btn-lg.btn-primary(ng-click="refresh()") Refresh