h1 Load
div.panel.panel-default
	table.table
		thead
			tr
				th(i18n="label.load.1min")
				th(i18n="label.load.5min")
				th(i18n="label.load.10min")
		tbody
			tr
				th {{load.1min}}
				th {{load.5min}}
				th {{load.10min}}
p
	a.btn.btn-lg.btn-primary(ng-click="refresh()") Refresh