h1 Memory
div.panel.panel-default.table-responsive
	table.table
		thead
			tr
				th(i18n="label.mem.free")
				th(i18n="label.mem.total")
				th(i18n="label.mem.used")
		tbody
			tr
				th {{mem.memfree | megaOctet | number}}
				th {{mem.memtotal | megaOctet | number}}
				th {{(mem.memtotal - mem.memfree) | megaOctet | number}}
p
	a.btn.btn-lg.btn-primary(ng-click="refresh()") Refresh