h1 Mounts
div.panel.panel-default.table-responsive
	table.table
		thead
			tr
				th(i18n="label.mounts.filesystem")
				th(i18n="label.mounts.blocks")
				th(i18n="label.mounts.used")
				th(i18n="label.mounts.available")
				th(i18n="label.mounts.percent")
				th(i18n="label.mounts.mount")
		tbody
			tr(ng-repeat="mount in mounts")
				th {{mount.filesystem}}
				th {{mount.blocks}}
				th {{mount.used}}
				th {{mount.available}}
				th {{mount.percent}}
				th {{mount.mount}}
p
	a.btn.btn-lg.btn-primary(ng-click="refresh()") Refresh