h1 Networks
div.panel.panel-default.table-responsive
	table.table
		thead
			tr
				th Network
				th Address
				th Family
				th Internal
		tbody
			tr(ng-repeat="(network, networkInformations) in networks")
				th {{network}}
				th
					div(ng-repeat="networkInformation in networkInformations") {{networkInformation.address}}
				th
					div(ng-repeat="networkInformation in networkInformations") {{networkInformation.family}}
				th
					div(ng-repeat="networkInformation in networkInformations") {{networkInformation.internal}}
p
	a.btn.btn-lg.btn-primary(ng-click="refresh()") Refresh